body,
h3,
h4,
p {
	color: #00203fff;
}

body {
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: rgba(0, 206, 209, 0.4);
}

.r2a {
	border: 1px solid darkturquoise;
	border-radius: 0.25rem;
    padding-left: 1rem;
    background: rgba(0, 206, 209, 0.4);
}

.btn-primary {
    background: rgba(0, 206, 209, 0.4);
}

#buttons-view,
#city-input {
	margin-top: 1rem;
    border: 1px solid darkturquoise;
    opacity: 0.6;
	border-radius: 0.25rem;
}

.list-group-item {
    background: rgba(0, 206, 209, 0.4);
    
}

.list-group-item:hover {
    background: rgba(0, 255, 127, 0.4);
}

.card {
    background: rgba(0, 206, 209, 0.4);
}

.card-body {
	padding: 0.35rem;
}

.uvGreen {
	background-color: green;
	border-radius: 5px;
}

.uvYellow {
	background-color: yellow;
	border-radius: 5px;
}

.uvOrange {
	background-color: orange;
	border-radius: 5px;
}

.uvRed {
	background-color: red;
	border-radius: 5px;
}

.uvPurple {
	background-color: purple;
	border-radius: 5px;
}

img {
	width: 15%;
	height: 15%;
}

.card-text {
	font-size: 10pt;
}

.forcast {
	padding: 1rem;
}
